# Host del inverso (Traefik)
PRINTER_HOST=printer.fbettic.dev

# Directorio raíz para datos persistentes de la impresora
# Todo el contenido (config, gcodes, database...) se guarda aquí
PRIND_DATA_DIR=/mnt/disk1/docker/prind

# Perfiles de Docker Compose a activar por defecto
# Así evitas tener que poner --profile mainsail cada vez
COMPOSE_PROFILES=mainsail
